@CHARSET "UTF-8";
#header {
	padding: 20px 0 0 20px;
}

#header h1 {
	font-size: 32px;
}

#header h2 {
	font-size: 20px;
}

#content {
	display: block;
	overflow: hidden;
	padding: 40px 0 0 20px;
}

#menu {
	display: block;
	float: left;
	width: 300px;
}

#menu .menuItem {
	display: block;
}

#menu a {
	display: block;
	font-size: 20px;
	padding: 4px;
}

#menu a:HOVER {
	background-color: #DFE0F2;
}

.catTableDiv {
	display: block;
	padding-bottom: 40px;
}

.catTableDiv h2 {
	font-size: 20px;
}

.catTableDiv table, .catTableDiv td, .catTableDiv th {
	border: 1px solid black;
	border-collapse: collapse; 
}

.catTableDiv td, .catTableDiv th {
	padding: 4px;
	width: 300px;
}

.catTableDiv th {
	font-weight: bold;
	background-color: #828499;
}

.catTableDiv tr:nth-child(even) {
    background-color: #DFE0F2;
}

#addTermForm {
	display: block;
	width: 500px;
}

#addTermForm .field {
	display: block;
	width: 500px;
	
}

#addTermForm label {
	display: block;
	float: left;
	width: 100px;
	line-height: 22px;
}

#addTermForm .field input {
	display: block;
	float: left;
	width: 350px;
}

#addTermForm input {
	display: block;
	float: left;
}

#footer {
	display: block;
	padding: 20px 0 0 20px;
}
