.lexiconInfo {
	border: 1px solid black;
	padding: 4px;
}

.meaningContainer {
	padding: 4px;
	margin: 4px 0;
	display: block;
	border: 1px solid black;
	overflow: hidden;
}

.lexemeContainer {
	padding: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	display: block;
	float: left;
	border: 1px solid black;
	width: 49.5%;
}

.lexemeContainer:hover {
	background-color: #dddddd;
}

.meaningInfo {
	margin: 4px;
	display: block;
	float: left;
	width: 100%;
}