#meaningsInfo {
	border: 1px solid black;
	padding: 4px;
}

.mylexicon-pagination {
	float: right;
	display: block;
	padding: 4px;
	border: 1px solid black;
}

.meaningContainer {
	padding: 4px;
	margin: 4px 0;
	display: block;
	border: 1px solid black;
	overflow: hidden;
}

.lexemeContainer {
	padding: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	display: block;
	float: left;
	width: 49.5%;
}

.lexemeContainer:hover {
	background-color: #dddddd;
}

.lexeme-language, .lexeme-type, .lexeme-entry {
	display: block;
	padding: 4px 4px;
	float: left;
}

.lexeme-language, .lexeme-type {
	
}

.lexeme-entry {
	width: 100%;
	font-weight: bold;
}

.lexeme-language:after {
	content: ".";
}

.meaningInfo {
	margin: 4px;
	display: block;
	float: left;
	width: 100%;
}