#meaningsInfo {
	border: 1px solid black;
	padding: 4px;
}

.mylexicon-pagination {
	float: right;
	display: block;
	padding: 4px;
	border: 1px solid black;
}

.meaningContainer {
	padding: 4px;
	margin: 4px 0;
	display: block;
	border: 1px solid black;
	overflow: hidden;
}

.lexemeContainer {
	padding: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	display: block;
	float: left;
	width: 49.5%;
}

.lexemeContainer:hover {
	background-color: #dddddd;
}

.lexeme-language, .lexeme-type, .lexeme-entry {
	display: block;
	padding: 4px 4px;
	float: left;
}

.lexeme-language, .lexeme-type {
	
}

.lexeme-entry {
	width: 100%;
	font-weight: bold;
}

.lexeme-language:after {
	content: ".";
}

.meaningInfo {
	margin: 4px;
	display: block;
	float: left;
	width: 100%;
}

/*FORM STYLES */
#lexicon #newMeaning {
	float: left;
	display: block;
	margin: 0 2% 2% 0;
}

#lexicon #types, #lexicon #entries, #lexicon .newExample {
	float: left;
	display: block;
	padding: 0 0 2% 0;
}

#lexicon #meaningForm {
	padding-bottom: 2%;  
	border-bottom: 1px solid black; 
}

#lexicon .lexeme-input {
	height: 25px;
}

#lexicon #types {
	width: 33.5%;
}

#lexicon #entries {
	width: 66.5%;
}

#lexicon #types .lexeme-input{
	width: 100%;
}

#lexicon #entries .lexeme-input{
	width: 100%;
}

#lexicon .newExample .lexeme-input{
	width: 100%;
}

#lexicon .newExample {
	width: 100%;
	padding: 1% 0;
}

#lexicon .exampleButtons {
	display: block;
	float: left;
	margin: 0 1% 0 0;
}
