<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://localhost/myLexicon/xml/settings" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://localhost/myLexicon/xml settings.xsd">
  <languages>
    <language target="target">german</language>
    <language base="base">english</language>
    <language>chinese</language>
  </languages>
  <links>
    <link>
      <name>home</name>
      <path/>
      <english>Home</english>
      <german>Startseite</german>
    </link>
    <link>
      <name>add_term</name>
      <path>addTerm</path>
      <english>New Term</english>
      <german>Neuer Begriff</german>
    </link>
    <link>
      <name>edit_term</name>
      <path>editTerm</path>
      <english>Edit a Term</english>
    </link>
    <link>
      <name>add_category</name>
      <path>addCategory</path>
      <english>Add a Category</english>
    </link>
    <link>
      <name>settings</name>
      <path>changeSettings</path>
      <english>Settings</english>
      <german>Einstellungen</german>
    </link>
  </links>
  <categories>
    <category>
      <name>general</name>
      <english>General Terms</english>
      <german>Allgemeine Begriffe</german>
    </category>
    <category>
      <name>phrases</name>
      <english>Advanced Phrases</english>
      <german>Forgeschrittene Ausdrucke</german>
    </category>
    <category>
      <name>computers</name>
      <english>Computers</english>
      <german>Computers</german>
    </category>
    <category>
      <name>language</name>
      <english>Language and Speech</english>
      <german>Sprache</german>
    </category>
    <category>
      <name>sleep</name>
      <english>sleep</english>
      <german>Schlaf</german>
    </category>
    <category>
      <name>maths</name>
      <english>Mathematics and Measurement</english>
      <german>Mathematik und Messung</german>
    </category>
    <category>
      <name>study</name>
      <english>Study and Learning</english>
      <german>Studie und Lernen</german>
    </category>
	 <category>
      <name>creating</name>
      <english>Creating</english>
      <german>Schaffung</german>
    </category>
	<category>
      <name>economy</name>
      <english>The Economy</english>
      <german>Wirtschaft</german>
    </category>
	<category>
      <name>work</name>
      <english>Work Life</english>
      <german>Berufsleben</german>
    </category>
	<category>
      <name>war</name>
      <english>War</english>
      <german>Krieg</german>
    </category>
	<category>
      <name>body</name>
      <english>The Body</english>
      <german>Körper</german>
    </category>
	<category>
      <name>house</name>
      <english>Around the House</english>
      <german>Im Haushalt</german>
    </category>
	<category>
      <name>emotion</name>
      <english>Emotion</english>
      <german>Gefühle</german>
    </category>
	<category>
      <name>inheritance</name>
      <english>Inheritance</english>
      <german>Erbschaft</german>
    </category>
	<category>
      <name>mind</name>
      <english>Mind and Imagination</english>
      <german>Geist und Einbildung</german>
    </category>
  </categories>
  <fields>
    <field>
      <type>part_of_speech</type>
      <required>true</required>
      <display>true</display>
      <order>0</order>
      <size>50</size>
      <english>Part of Speech</english>
      <german>Wortart</german>
    </field>
    <field>
      <type>english</type>
      <required>true</required>
      <display>true</display>
      <order>1</order>
      <size>150</size>
      <english>English Term</english>
      <german>Englischer Begriff</german>
    </field>
    <field>
      <type>german</type>
      <required>true</required>
      <display>true</display>
      <order>3</order>
      <size>150</size>
      <english>German Term</english>
      <german>Deutscher Begriff</german>
    </field>
    <field>
      <type>example</type>
      <required>true</required>
      <display>true</display>
      <order>5</order>
      <size>300</size>
      <english>Example</english>
      <german>Beispiel</german>
    </field>
    <field>
      <type>frequency</type>
      <required>false</required>
      <display>false</display>
      <order>6</order>
      <size>50</size>
      <english>Frequency Searched</english>
    </field>
    <field>
      <type>article</type>
      <required>false</required>
      <display>true</display>
      <order>2</order>
      <size>50</size>
      <english>Article</english>
      <german>Artikel</german>
    </field>
    <field>
      <type>plural</type>
      <required>false</required>
      <display>true</display>
      <order>4</order>
      <size>150</size>
      <english>Plural</english>
      <german>Plural</german>
    </field>
    <field>
      <type>past_participle</type>
      <required>false</required>
      <display>false</display>
      <order>7</order>
      <size>50</size>
      <english>Past Participle</english>
      <german>Partizip Perfekt</german>
    </field>
    <field>
      <type>simple_past</type>
      <required>false</required>
      <display>false</display>
      <order>8</order>
      <size>50</size>
      <english>Simple Past</english>
      <german>Präteritum</german>
    </field>
    <field>
      <type>auxiliary_verb</type>
      <required>false</required>
      <display>false</display>
      <order>9</order>
      <size>50</size>
      <english>Auxiliary Verb</english>
      <german>Hilfsverb</german>
    </field>
  </fields>
</settings>
